body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    background-color: pink;
    align-items: center;/* centre par rapport a la verticale pour l'horizontal c justify content*/  
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    display: flex;/*pas la peine de faire flex direction row */
    flex-wrap:wrap;
    /* width:90vh; */
}
.med{
    background-size:auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    border-radius: 12px;
    color: aqua;
    /* color: turquoise; */
    text-align: center;
    font-weight: bold;
    cursor:pointer;
    flex: 0.5;
    margin:0;
    position: relative;
    transition:flex 0.5s ease-in ;
    width: 200px;
}
.med.active {
    flex:2.5;
}
